section {
  float: right;
  width: 73%;
}
@media only screen and (max-width: 425px) {
  section {
    width: 100%;
    margin: auto;
  }
}
aside {
  float: left;
  width: 20%;
}
@media only screen and (max-width: 425px) {
  aside {
    width: 100%;
    margin-bottom: 1rem;
  }
}
footer {
  text-align: center;
}
.app-container-title {
  font-size: 20px;
  font-weight: 700;
  margin: 1rem 1rem;
}

.filter-component-container {
  background-color: #ffffff;
  padding: 1rem;
  margin-left: 1rem;
}
@media only screen and (max-width: 425px) {
  .filter-component-container {
    max-width: 60%;
    margin: auto;
  }
}
.filter-title {
  margin: 0;
  font-size: 16px;
}
.launch-properties-title {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid lightgrey;
}
.filter-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.launch-years-button {
  background-color: #c6d9a8;
  border: none;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
}
.launch-years-button-active {
  background-color: #7cba01;
  border: none;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
}

.mission-list-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.loading-container {
  min-height: 85vh;
}
.mission-card-container {
  /* border: 2px solid rgb(145, 139, 139); */
  background-color: #ffffff;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  border-radius: 0.25rem;
  max-width: 20%;
}
@media only screen and (max-width: 425px) {
  .mission-card-container {
    min-width: 60%;
    margin: auto;
    margin-bottom: 1rem;
  }
}
.image-container {
  width: 11rem;
  height: 11rem;
  background-color: #f2f2f2;
  margin: auto;
}
.image-container img {
  width: 11rem;
  height: 11rem;
}
.mission-data-span {
  font-size: 14px;
  font-weight: 500;
}
.mission-name-data {
  font-size: 16px;
  font-weight: 700;
  padding-top: 1rem;
  color: #6068a5;
}
.footer-credit {
  font-size: 16px;
  font-weight: 500;
}
